In [61]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [62]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
#Display the total number of players
Total_Players_df = pd.DataFrame({"Total Players": [purchase_data['SN'].nunique()]})
Total_Players_df

   Total Players
0            576

In [64]:
#Purchasing Analysis (Total)
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purchases = len(purchase_data)
total_revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame([{"Number of Unique Items": unique_items,
                           "Average Price": avg_price,
                           "Number of Purchases": num_purchases,
                           "Total Revenue": total_revenue}]
                         )
summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

In [83]:
#Age Demographics
#Create gender_data data frame with group by from purchase_data
gender_data = purchase_data.groupby("Gender").nunique()[["SN"]]
#Rename "SN" column to "Total Count"
gender_data = gender_data.rename(columns = {"SN":"Total Count"})
#Add calculated "Percentage of Players" column
gender_data["Percentage of Players"] = gender_data["Total Count"] / gender_data["Total Count"].sum()
#Sort gender_data descending order by "Percentage of Players"
gender_data = gender_data.sort_values("Percentage of Players",ascending=False)
#format "Percentage of Players" column as a percentage
gender_data["Percentage of Players"] = gender_data["Percentage of Players"].map("{:.2%}".format)
gender_data.columns

Index(['Total Count', 'Percentage of Players'], dtype='object')

In [87]:
#Purchasing Analysis (Gender)
purchase_gender = purchase_data.groupby('Gender').agg({"Purchase ID": ['count'], "Price": ['mean', 'sum']})
#Add calculated "Percentage of Players" column
#purchase_gender["Avg Total Purchase per Person"] = purchase_gender["Total Count"] / gender_data["Total Count"].sum()
purchase_gender.columns = purchase_gender.columns.droplevel(0)
purchase_gender = purchase_gender.rename(columns = {"count":"Purchase Count", "mean":"Average Purchase Price", "sum":"Total Purchase Value"})
purchase_gender["Avg Total Purchase per Person"] = purchase_gender["Total Purchase Value"] / purchase_gender["Purchase Count"]
purchase_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000