In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [32]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
#Display the total number of players
Total_Players_df = pd.DataFrame({"Total Players": [purchase_data['SN'].nunique()]})
Total_Players_df

   Total Players
0            576

In [43]:
#Purchasing Analysis (Total)
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purchases = len(purchase_data)
total_revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame([{"Number of Unique Items": unique_items,
                           "Average Price": avg_price,
                           "Number of Purchases": num_purchases,
                           "Total Revenue": total_revenue}]
                         )
summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77